<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Filter">
</mat-form-field>
<div class="mat-table-container mat-elevation-z8">
<table mat-table [dataSource]="dataSource">
<!--Album -->
<!-- <ng-container matColumnDef="Album" sticky>
  <th mat-header-cell *matHeaderCellDef> Album </th>
  <td mat-cell *matCellDef="let element"> {{element.album}} </td>
</ng-container> -->

<!-- Artist -->
<ng-container matColumnDef="Artist">
  <th mat-header-cell *matHeaderCellDef> Teacher </th>
  <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
</ng-container>

<!-- Title -->
<ng-container matColumnDef="Title">
  <th mat-header-cell *matHeaderCellDef>Topic</th>
  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
</ng-container>

<!-- Name -->
<ng-container matColumnDef="Name">
  <th mat-header-cell *matHeaderCellDef> Title </th>
  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>

<!-- Duration -->
<ng-container matColumnDef="Duration">
  <th mat-header-cell *matHeaderCellDef> Duration </th>
  <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
</ng-container>

<!-- Actions -->
<ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" stickyEnd>
      <button (click)="playRecord(element)" color="accent" mat-mini-fab aria-label="Play" >
          <mat-icon>play_circle_filled</mat-icon>
      </button>
          <!-- <a mat-mini-fab routerLink=".">Link</a> -->
      
       <!-- <button (click)="updateRecord(element)" mat-flat-button color="primary">
         <mat-icon color="white">edit</mat-icon>
         Edit </button> -->
      <!-- <button [routerLink]="['/delete-record', element.id ]" mat-flat-button color="warn">
        <mat-icon color="white">delete_sweep</mat-icon>
        Delete</button></td> -->
  </ng-container>
  
<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div> 
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50]"></mat-paginator>

