<!-- <button mat-fab>Click</button> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--Date -->
  <ng-container matColumnDef="recordDate">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.recordDate | date: 'd MMM yyyy'}} </td>
  </ng-container>

  <!-- Teacher -->
  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef> Teacher </th>
    <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
  </ng-container>

  <!-- Topic -->
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef>Topic</th>
    <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
  </ng-container>

  <!-- Duration -->
  <ng-container matColumnDef="minuets">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let element"> {{element.minuets}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



