$sussex-primary: mat-palette($mat-cyan, 700, 300, 900);
$sussex-accent: mat-palette($mat-light-green, A200, A100, A400);
$sussex-warm: mat-palette($mat-orange, A200);

$sussex-theme: mat-light-theme($sussex-primary, $sussex-accent, $sussex-warm);
