<mat-card>
  <mat-card-title>Create Account</mat-card-title>
  
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="User Name" formControlName="userName">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Password" formControlName="password"  type="password">
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput placeholder="Confirm Password" formControlName="confirmPassword"  type="password">
      </mat-form-field>
      
        <br>
      <span *ngIf="registerForm.errors?.matchingFields" class="warn">
        Passwords don't match
      </span>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
  </mat-card-actions>
  
  
</mat-card>
